<div class="navbar"> 
  <div class="main_navigation" > 
  <div class="brand-title">iBLOG</div>
      <button class="toggle-button" id ="hamburger"><i class="fas fa-bars"></i></button>

    {{page.navigation}}
    </div>
</div>
<header class="header" id="header" >
    {{ page.header }}
    {{page.banner}}
</header>
<section class="main" id="main">
    <main class="content" id="content" >
        {{ page.content }}
       
    </main>
    <aside class="right_sidebar" id="sidebar" >
        {{ page.right_sidebar }}
    </aside>
</section>
<footer class="footer" id="footer" >
    <div class="footer_top">

       <div class="box" id="box1"> {{ page.footer_first }} </div> 
     <div class="box" id="box2" >  {{ page.footer_second }} </div>
     <div class="box" id="box3" >  {{ page.footer_third }}  </div>
    </div>
    <div class="footer_bottom">
        {{ page.footer_bottom }}
    </div>
</footer>